* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

nav a {
  color: white;
}

.toppane {
  font-size: 18px
  color: skyblue;
  background-image: url("../images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px
}

#nyc {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  font-weight: bold;
}

.footer nav {
    background-color: dimgray;

}

.footer p {
  font-size: 11px;
  color: white;
  text-align: left;
}

.footer p a {
  font-size: 18px;
  color: white;
}
